{% import "forms-1.001.twig" as form %}
{% import "searchTools-1.001.twig" as tools %}
{% block idxContent %}
    {% spaceless %}
        <div class="detailsWrapper--right">
            <div class="mat-form">
                <div class="mat-form--header"><a href="tel:412-444-5181"><i class="fa fa-phone"></i>&nbsp;
                        412-444-5181
                    </a></div>
                <div class="mat-form--body">
                    <div class="element-wrapper"><input type="text" name="name" id="cfc_name" required=""><label for="name">First
                            Name:</label></div>
                    <div class="element-wrapper"><input type="text" name="last_name" id="cfc_last_name" required=""><label for="lastName">Last
                            Name:</label></div>
                    <div class="element-wrapper"><input type="email" name="email" id="cfc_email" required=""><label
                                for="email">Email:</label></div>
                    <div class="element-wrapper"><input type="text" name="phone" id="cfc_phone" required=""><label
                                for="phone">Phone:</label></div>
                    <div class="element-wrapper with--checkbox">
                        <label class="checkbox path">
                            <input type="checkbox" id="cfc_request_info">
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            &nbsp; Request Info
                        </label>
                    </div>
                    <div class="element-wrapper with--checkbox">
                        <label class="checkbox path" id="clickCustomMessage">
                            <input type="checkbox" id="sendCustomMessage">
                            <svg viewBox="0 0 21 21">
                                <path d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"></path>
                            </svg>
                            &nbsp; Custom Message
                        </label>
                    </div>
                    <div class="element-wrapper" id="customMessageContainer">
                        <textarea id="contactCustomMessage" class="form__field" rows="6"></textarea>
                        <label for="contactCustomMessage" class="form__label">Your Message</label>
                    </div>
                </div>
                <div class="element-wrapper flex-centered">
                    <button id="sendContactForm" class="contact-btn--send btn-cta btn">Send</button>
                </div>
                <div class="mat-form--footer">
                    <a href="tel:412-444-5181">
                        <i class="fa fa-building"></i>&nbsp;
                        Fifth & Grant
                    </a>
                </div>
            </div>
        </div>
        <div id="IDX-searchPageWrapper"
             style="width: 100vw; height: 100vh; background: url('http://cardo.tech/images/bg.jpg') no-repeat center center; background-size: cover;"
             class="IDX-pageContainer IDX-mobileFirst--neutral">
            <div class="IDX-searchPageContainer">
                <div class="IDX-searchFormContainer">
                    {# only include the search nav on the frontend #}
                    {% include 'navbar-1.001.twig' %}
                    <form action="{{ formAction }}" method="get" name="IDXsearchForm" id="IDX-searchForm"
                          class="IDX-searchForm IDX-searchForm-{{ currentScript }} {% if v1searchMarkup %}IDX-v1searchMarkup{% endif %}{% if emailUpdateSignup %}IDX-emailUpdateSignupForm{% endif %}"{% if middleware %} target="_blank"{% endif %}
                          data-pageid="{{ pageID }}" data-middleware="{{ middleware }}"
                          data-advfields="{{ advancedFields }}">
                        {% if customNewSearch %}
                            <input type="hidden" name="idxsrp" value="{{ pageID }}"/>
                        {% endif %}
                        <div id="IDX-coreSearchFields" class="IDX-row-content">
                            {{ tools.listingID }}
                        </div>

                        {% if 'sold' in statuses.values %}
                            <input type="hidden" name="a_statusCategory[]" value="active"/>
                            <input type="hidden" name="a_statusCategory[]" value="sold"/>
                        {% endif %}

                        <div id="IDX-action-buttons" class="IDX-row-content">
                            <a href="/" type="reset" id="IDX-formReset" class="IDX-btn IDX-btn-default btn">Reset</a>
                            <a href="#" type="submit" id="IDX-formSubmit" class="IDX-btn IDX-btn-primary btn"
                                    data-action="search">Search
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <br class="IDX-clear"/>

            {% if not middleware %}
                <div id="IDX-editSavedSearch" class="IDX-hide">
                    <div style="text-align:center;" id="IDX-editSavedSearchMessage"></div>
                </div>
                {# only include the disclaimers frontend #}
                {% include 'multipleMlsDisclaimers-1.000.twig' %}
            {% endif %}
            {# pre-population variables #}
            {% if queryArray %}
                <div id="IDX-modifySearchData" style="display:none !important;">{{ queryArray|raw }}</div>{% endif %}
            {% if ssQueryArray %}
                <div id="IDX-editSavedSearchData"
                     style="display:none !important;">{{ ssQueryArray|raw }}</div>{% endif %}

            {# default pricing data #}
            <div id="IDX-defaultPriceData" style="display:none !important;">{{ defaultPriceData|raw }}</div>
        </div>
    {% endspaceless %}
{% endblock %}

<div class="sm-contact-bar">
    <a href="tel:412-444-5181" class="">
        <i class="fa fa-phone"></i>
    </a>
    <span class="contact-mail">
        <i class="fa fa-envelope"></i>
    </span>
</div>

