{% import "forms-1.001.twig" as form %}
{% import "searchTools-1.001.twig" as tools %}
{% block idxContent %}
    {% spaceless %}
        <div id="IDX-searchPageWrapper"
             style="width: 100vw; height: 100vh; background: url('http://cardo.tech/images/bg.jpg') no-repeat center center; background-size: cover;"
             class="IDX-pageContainer IDX-mobileFirst--neutral">
            <div class="IDX-searchPageContainer">
                <div class="IDX-searchFormContainer">
                    {# only include the search nav on the frontend #}
                    {% include 'navbar-1.001.twig' %}
                    <form action="{{ formAction }}" method="get" name="IDXsearchForm" id="IDX-searchForm"
                          class="IDX-searchForm IDX-searchForm-{{ currentScript }} {% if v1searchMarkup %}IDX-v1searchMarkup{% endif %}{% if emailUpdateSignup %}IDX-emailUpdateSignupForm{% endif %}"{% if middleware %} target="_blank"{% endif %}
                          data-pageid="{{ pageID }}" data-middleware="{{ middleware }}"
                          data-advfields="{{ advancedFields }}">
                        {% if customNewSearch %}
                            <input type="hidden" name="idxsrp" value="{{ pageID }}"/>
                        {% endif %}
                        <div id="IDX-coreSearchFields" class="IDX-row-content">
                            {{ tools.listingID }}
                        </div>

                        {% if 'sold' in statuses.values %}
                            <input type="hidden" name="a_statusCategory[]" value="active"/>
                            <input type="hidden" name="a_statusCategory[]" value="sold"/>
                        {% endif %}

                        <div id="IDX-action-buttons" class="IDX-row-content">
                            <a href="/" type="reset" id="IDX-formReset" class="IDX-btn IDX-btn-default btn">Reset</a>
                            <a href="#" type="submit" id="IDX-formSubmit" class="IDX-btn IDX-btn-primary btn"
                                    data-action="search">Search
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <br class="IDX-clear"/>

            {% if not middleware %}
                <div id="IDX-editSavedSearch" class="IDX-hide">
                    <div style="text-align:center;" id="IDX-editSavedSearchMessage"></div>
                </div>
                {# only include the disclaimers frontend #}
                {% include 'multipleMlsDisclaimers-1.000.twig' %}
            {% endif %}
            {# pre-population variables #}
            {% if queryArray %}
                <div id="IDX-modifySearchData" style="display:none !important;">{{ queryArray|raw }}</div>{% endif %}
            {% if ssQueryArray %}
                <div id="IDX-editSavedSearchData"
                     style="display:none !important;">{{ ssQueryArray|raw }}</div>{% endif %}

            {# default pricing data #}
            <div id="IDX-defaultPriceData" style="display:none !important;">{{ defaultPriceData|raw }}</div>
        </div>
    {% endspaceless %}
{% endblock %}
